* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  background-color: #fff;
}

/* ===== Common ===== */
a {
  text-decoration: none;
}

.container {
  width: 1170px;
  max-width: (1170px - 48px);
  margin: 0 auto;
}

.row {
  display: flex;
  align-items: center;
}

.btn {
  padding: 20px 41px 21px;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 600;
  border-radius: 14px;
  background: #1ebfc1;
}

/* ===== Header ===== */
.header {
  position: sticky;
  top: -44px;
  padding: 52px 0 8px;
  background-color: #fff;
  z-index: 9;
}

.header .row {
  justify-content: space-between;
}

.navbar ul {
  display: flex;
  gap: 31px;
}

.navbar .link {
  display: inline-block;
  text-align: center;
  padding: 8px;
  color: #2f3a3b;
}

.navbar .link::before {
  content: attr(title);
  display: block;
  font-weight: 600;
  height: 0;
  visibility: hidden;
  overflow: hidden;
}

.navbar .link:hover,
.navbar .active {
  font-weight: 600;
}

.header .action a:first-child {
  color: #494949;
}

.header .action .sign-up-btn {
  display: inline-block;
  margin-left: 24px;
  padding: 12px 24px;
  color: #1ebfc1;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 6px;
  border: 1px solid #1ebfc1;
}

/* ===== Hero ===== */
.hero {
  margin-top: 42px;
}

.hero-content {
  width: 39%;
  padding-top: 60px;
}

.hero-content .sub-title {
  color: #767e7e;
  font-size: 1.4rem;
}

.hero-content .title {
  margin-top: 18px;
  color: #0d1111;
  font-size: 6.2rem;
  font-weight: 700;
  line-height: 1.16;
}

.hero-content .desc {
  width: 81%;
  margin-top: 46px;
  color: #9da6a5;
  font-size: 1.8rem;
  line-height: 1.77;
}

.hero-content .action {
  margin-top: 52px;
  display: flex;
  align-items: flex-start;
}

.hero-content .watch-btn {
  margin-top: -29px;
}

.hero-media {
  position: relative;
  width: 576px;
  height: 631px;
  margin-left: auto;
  background-color: #e0f7f6;
  background-image: url(../img/hero-img.svg);
}

.hero-media .courses {
  width: 157px;
  height: 75px;
  position: absolute;
  top: 149px;
  left: -40px;
  padding: 17px 25px;
  border-radius: 18px;
  background: #fefefd;
  box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero-media .courses div:first-child {
  position: relative;
  width: 36px;
  height: 40px;
  margin-right: 16px;
  background-color: #ff8282;
  border-radius: 5px 2px 2px 5px;
}

.hero-media .courses div:first-child::after {
  content: "";
  position: absolute;
  left: 4px;
  bottom: 8px;
  display: block;
  width: 28px;
  height: 4px;
  background-color: #fff;
  border-radius: 999px;
}

.hero-media .title {
  color: #0d1111;
  font-size: 1rem;
  font-weight: 500;
}

.hero-media .courses p:first-child {
  margin-bottom: 5px;
}

.hero-media .avatar {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  object-fit: cover;
  background-color: #1ebfc1;
  color: #fff;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  line-height: 32px;
}

.hero-media .avatar + .avatar {
  margin-left: -7px;
}

.hero-media .schedules {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 46px;
  left: -65px;
  width: 124px;
  height: 132px;
  padding: 16px 35px;
  border-radius: 24px;
  background: #fff;
  box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero-media .schedules .title {
  margin-bottom: 16px;
}

.hero-media .schedules .bar {
  position: relative;
  margin-bottom: 10px;
  width: 74px;
  height: 6px;
  border-radius: 3px;
  background-color: #edf1f5;
}

.hero-media .schedules .bar::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  height: 6px;
  background-color: #fb9899;
  border-radius: 3px;
}

.hero-media .schedules .bar:first-of-type::after {
  width: 52.7%;
}

.hero-media .schedules .bar:nth-of-type(2)::after {
  width: 68.9%;
}

.hero-media .schedules .bar:first-of-type::after {
  width: 44.5%;
}

.hero-media .schedules .bar:last-of-type {
  width: 26px;
  margin-top: 6px;
}

.hero-media .students {
  position: absolute;
  right: 45px;
  bottom: 41px;
  padding: 17px 35px;
  width: 207px;
  height: 90px;
  border-radius: 24px;
  background: #fefefd;
  box-shadow: 0px 12px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero-media .avatar-list {
  margin-top: 8px;
}

/* ===== Features ===== */
.features {
  margin-top: 209px;
}

.features-info {
  width: 590px;
}

.features-info .sub-title {
  color: #767e7e;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 4px;
}

.features-info .title {
  margin: 18px 0;
  color: #0d1111;
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 1.33;
}

.features-info .desc {
  color: #767e7e;
  font-size: 1.8rem;
  line-height: normal;
}

.features-list {
  margin-top: 80px;
  justify-content: space-between;
}

.features-list .item {
  width: 19%;
}

.features-list .item .title {
  margin-top: 26px;
  color: #0d1111;
  font-size: 2rem;
  font-weight: 600;
}

.features-list .item .desc {
  margin-top: 16px;
  color: #9da6a5;
  line-height: 1.68;
}

/* ====== Courses ===== */
.courses {
  margin-top: 130px;
}

.courses-info .sub-title {
  color: #767e7e;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 4px;
}

.courses-info .title {
  margin: 18px 0;
  color: #0d1111;
  font-size: 4.2rem;
  font-weight: 700;
  line-height: normal;
}

.courses-info .row {
  justify-content: space-between;
}

.courses-info .desc {
  width: 44%;
  color: #767e7e;
  font-size: 1.8rem;
  line-height: 1.77;
}

.courses-info .link {
  color: #1ebfc1;
  font-size: 1.4rem;
  font-weight: 700;
  text-decoration-line: underline;
}

.courses-list {
  margin-top: 79px;
  align-items: flex-start;
  gap: 47px;
}

.courses-item {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.courses-item .img-block {
  position: relative;
}

.courses-item .img-block::before {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  border-radius: 8px;
  opacity: 0.35;
  background: #d0efed;
}

.courses-item .img-block img {
  width: 359px;
  height: 393px;
  border-radius: 8px;
  object-fit: cover;
}

.courses-item .info {
  margin-top: -70px;
  width: 92%;
  padding: 18px 25px 29px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
  z-index: 1;
}

.courses-item .title a {
  color: #0d1111;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: normal;
}

.courses-item .price {
  margin-top: 16px;
  color: #767e7e;
}

.courses-item .price b {
  color: #0d1111;
  font-size: 2.2rem;
  font-weight: 700;
}

.courses-item .desc {
  margin-top: 6px;
  font-size: 1.4rem;
  color: #9da6a5;
  line-height: normal;
}

.courses-item .row {
  margin-top: 18px;
  gap: 8px;
}

.courses-item .row p {
  position: relative;
  font-size: 1.4rem;
  color: #9da6a5;
}

.courses-item .row .dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #1ebfc1;
}

/* ===== Countdown ====== */
.countdown {
  margin: 264px 0;
}

.countdown .container {
  width: 862px;
  justify-content: space-between;
}

.countdown .item .number {
  color: #0d1111;
  text-align: center;
  font-size: 6.2rem;
  font-weight: 700;
}

.countdown .item .sub-title {
  margin-top: 11px;
  color: #767e7e;
  text-align: center;
  font-size: 1.8rem;
}

/* ===== Feedback ===== */
.feedback .row {
  gap: 72px;
}

.feedback-info {
  width: 36%;
}

.feedback-list {
  display: flex;
  overflow: hidden;
}

.feedback-list .item {
  flex-shrink: 0;
  flex-basis: 100%;
}

.feedback-list .item .text {
  margin-top: 27px;
  color: #5d6564;
  font-size: 3.2rem;
  line-height: 1.5;
}

.feedback-list .item .person {
  margin-top: 33px;
  color: #767e7e;
}

.feedback-list .person b {
  color: #070707;
  font-weight: 500;
}

.feedback-info .direction {
  margin-top: 52px;
}

.feedback-info .direction button {
  display: inline-block;
  width: 50px;
  height: 50px;
  color: #fff;
  font-size: 1.7rem;
  background-color: #2ac9bf;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.feedback-info .direction button:last-child {
  margin-left: 30px;
}

.feedback-avatar {
  position: relative;
  width: 58%;
  height: 481px;
  margin-left: auto;
}

.feedback-avatar .avatar {
  border-radius: 50%;
  object-fit: cover;
}

.feedback-avatar .avatar:first-child {
  position: absolute;
  top: 0;
  left: 144px;
  width: 92px;
  height: 92px;
}

.feedback-avatar .avatar:nth-child(2) {
  width: 110px;
  height: 110px;
  position: absolute;
  top: 19px;
  right: 0;
}

.feedback-avatar .avatar:nth-child(3) {
  width: 235px;
  height: 235px;
  position: absolute;
  top: 107px;
  left: 273px;
}

.feedback-avatar .avatar:nth-child(4) {
  width: 78px;
  height: 78px;
  position: absolute;
  left: 0;
  bottom: 145px;
}

.feedback-avatar .avatar:nth-child(5) {
  width: 78px;
  height: 78px;
  position: absolute;
  right: 32px;
  bottom: 29px;
}

.feedback-avatar .avatar:last-child {
  width: 78px;
  height: 78px;
  position: absolute;
  left: 212px;
  bottom: 0;
}

/* ===== CTA ===== */
.cta {
  margin-top: 130px;
  padding: 76px 0 88px;
  background: #def6f5;
}

.cta-info .title {
  color: #070707;
  font-size: 4.2rem;
  font-weight: 700;
  line-height: normal;
}

.cta-info .desc {
  margin-top: 18px;
  color: #767e7e;
  font-family: Poppins;
  font-size: 1.8rem;
  line-height: normal;
}

.cta .btn {
  margin-left: auto;
}

/* ===== Footer ===== */
.footer {
  padding: 131px 0 50px;
}

.footer .row {
  align-items: flex-start;
  justify-content: space-between;
}

.footer .item .title {
  margin-bottom: 25px;
  color: #2e2e2e;
  font-size: 1.8rem;
  font-weight: 500;
}

.footer .item a {
  color: #535353;
}

.footer .item li + li {
  margin-top: 18px;
}

.footer .social i {
  width: 20px;
  margin-right: 10px;
}

.copyright {
  margin-top: 80px;
  color: #b0b5b4;
  font-family: Poppins;
  font-size: 1.8rem;
  text-align: center;
}
